[user]
	name = Reinaldo Oliveira
	email = reinaldo.oliveira@tidexa.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[color "diff"]
	plain = black
	meta = black
	frag = cyan reverse
	old = red
	new = green
	commit = yellow
	whitespace = normal red
[alias]
	sh = !git-sh
	ci = commit
	co = checkout
	b = branch
	st = status
	who = shortlog -s --
	fl = log -p
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
	sb = status -sb
	dw = dif --word-diff
[core]
	excludesfile = ~/.gitignore
